<ng-container>
    <div class="cardStyle">
        <div class="row mt-2 justify-content-end">
            <span class="">
                <input name="search" class="form-control" placeholder="Search comments..."
                    (keyup)="searchSelectedContent($event)" />
            </span>
            <div class="col-sm-3 col-md-3 col-lg-3 mr-3">
                <button class="btn btn-secondary" (click)="back()">BACK</button>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        {{userDetails.status}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">This is post</p>
                    </div>
                    <div class="card-footer">
                        <span class="mr-2">{{userDetails.id}}</span>
                        <span>|</span>
                        <span class="ml-2 mr-2">{{userDetails.email}}</span>
                        <span>|</span>
                        <span class="ml-2">{{userDetails.gender}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 searchSelectedContent">
                <div class="card m-2 " *ngFor="let comment of comments; index as i">
                    <div class="card-header">
                        comment - {{i + 1}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{comment.body}}</p>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">- {{comment.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</ng-container>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>