<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
        <div class="card m-2 navSide over">
            <div class="card-header">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                <span class="ml-4" style="font-weight: bold; font-size: 15px;">USER NAME</span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="javascript:void(0)" class="notification">
                        <span><i class="fa fa-bell fa-lg" aria-hidden="true"></i></span>
                        <span class="badge">3</span>
                    </a>
                    <span class="ml-3" style="font-weight: bold;color: #30A8F5;font-size: 15px;">Notifications</span>
                    <hr class="sampleHr" />
                    <div class="row">
                        <div class="col-sm-1 com-md-1 col-lg-1">
                            <i class="fa fa-home" aria-hidden="true" style="color: #30A8F5;"></i>
                        </div>
                        <div class="col-sm-10 com-md-10 col-lg-10">
                            <div class="notiText mt-1">Mirza added a new document of buffcow brown invoice</div>
                            <div class="timeText">45 minutes ago</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 com-md-1 col-lg-1">
                            <i class="fa fa-camera-retro" style="color: #30A8F5;"></i>
                        </div>
                        <div class="col-sm-10 com-md-10 col-lg-10">
                            <div class="notiText mt-1">Lorem ipsum gypsum kicksuom, ejas , watch it</div>
                            <div class="timeText">50 minutes ago</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 com-md-1 col-lg-1">
                            <i class="fa fa-cog" aria-hidden="true" style="color: #30A8F5;"></i>
                        </div>
                        <div class="col-sm-10 com-md-10 col-lg-10">
                            <div class="notiText mt-1">Lora changed password, sended to mail update user</div>
                            <div class="timeText">59 minutes ago</div>
                        </div>
                    </div>
                </li>


                <li class="">
                    <div class="card-header">
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                        <span class="ml-3" style="font-weight: bold; font-size: 15px;">Home</span>
                    </div>
                </li>
                <li class="">
                    <div class="card-header">
                        <i class="fa fa-cog fa-lg" aria-hidden="true" style="color: #30A8F5;"></i>
                        <span class="ml-3" style="font-weight: bold;color: #30A8F5;font-size: large;">Production</span>
                    </div>
                    <hr class="sampleHr" />
                    <div class="row">
                        <div class="productionList">
                            Dying
                        </div>
                    </div>
                    <div class="row">
                        <div class="notSelectedproductionList">
                            Finishing
                        </div>
                    </div>
                    <div class="row">
                        <div class="notSelectedproductionList">
                            Crusting
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="card-header">
                        <i class="fa fa-file fa-lg" aria-hidden="true"></i>
                        <span class="ml-3" style="font-weight: bold; font-size: 15px;">Reports</span>
                    </div>
                </li>
                <li class="">
                    <div class="card-header">
                        <i class="fa fa-eercast fa-lg" aria-hidden="true"></i>
                        <span class="ml-3" style="font-weight: bold; font-size: 15px;">Planning</span>
                    </div>
                </li>
                <li class="">
                    <div class="card-header">
                        <i class="fa fa-inr fa-lg ml-1" aria-hidden="true"></i>
                        <span class="ml-3" style="font-weight: bold; font-size: 15px;">Finances</span>
                    </div>
                </li>
                <li class="">
                    <div class="card-header">
                        <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
                        <span class="ml-3" style="font-weight: bold; font-size: 15px;">Show More</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="card mt-2 midSide" style="overflow-y: auto;">
            <div class="card-header headerCard">
                Tasks
                <div class="row mt-1">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="fa fa-angle-left" id="left" style="color: #666666;" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div class="box" style="padding-left: 0; padding-right:0;">
                            <div class="block" style="border-bottom: 2px solid #30A8F5;">Daily</div>
                            <div class="block" style="color: #666666;">Pending</div>
                            <div class="block" style="color: #666666;">Monthly</div>
                            <div class="block" style="color: #666666;">Yearly</div>
                            <div class="block" style="color: #666666;">Quaterly</div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <i class="fa fa-angle-right" id="right" style="color: #666666;" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-body" style="background-color: #F4F0EF;">
                <div class="row">
                    <div class="card mt-2 midCenSide">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mt-2 midCenSide">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="padding-left: 8px;">
        <div class="row">
            <div class="card mt-2 rightSide">
                <div class="card-header headerCard">
                    Trends
                </div>
                <div class="card-body" style="background-color: #F4F0EF;">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mt-2 rightSide">
                <div class="card-header headerCard">
                    Efficiency
                </div>
                <div class="card-body" style="background-color: #F4F0EF;">

                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>