<ng-container>
    <div class="cardStyle">
        <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-7"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 m-1">
                <input name="search" class="form-control" placeholder="Search posts..."
                    (keyup)="searchSelectedContent($event)" />
            </div>

        </div>
        <div class="row justify-content-center ">

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card searchSelectedContent m-2"
                    *ngFor="let post of posts | paginate: { 
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count }">
                    <div class="card-header">
                        {{post.title}}
                    </div>
                    <div class="card-body" (click)="getComments($event,post.id,post.user_id)">
                        <p class="card-text">{{post.body}}</p>
                    </div>
                    <div class="card-footer">
                        <span class="mr-2">{{post.id}}</span>
                        <span>|</span>
                        <span class="ml-2 mr-2">{{post.user_id}}@gmail.com</span>
                        <span>|</span>
                        <span class="ml-2">Male</span>
                    </div>
                </div>
                <div class="float-right mt-2">
                    <pagination-controls  
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</ng-container>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>