.searchIcon {
    background-color: #30A8F5;
    color: white;
}

.navbar {
    padding-top: 0.3rem !important;
    padding-bottom: 0.1rem !important;
    display: flex;
    width: 100%;
}

.logOut:hover {
    cursor: pointer;
}